@model BusTicketWebApp.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Member Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_LeftMenu")
<br />
<nav>
    @{
        string pageName = Path.GetFileName(Request.Path);
        if (pageName.ToLower().IndexOf("search") >= 0)
        {
            <a href="/Member/Search" style="pointer-events: none;  cursor: default;">Member Search |</a>
        }
        else
        {
            <a href="/Member/Search">Member Search |</a>
        }

        if (pageName.ToLower().IndexOf("searchresult") >= 0)
        {
            <a href="/Member/SearchResult" style="pointer-events: none;  cursor: default;">Search Results |</a>
        }
        if (pageName.ToLower().IndexOf("searchresult") >= 0)
        {
            <a href="/Member/SearchResult">Search Results |</a>
        }
    }
</nav>

<br /><br />
<div class="col-xs-10">
    <div class="order-search">
        <div class="row">
            <form action="/Member/SearchResult" method="post">
                <div class="col-xs-6">
                    <p>Registration Date</p>
                    <div class="form-group col-xs-6">
                        <input type="date" class="form-control" id="r_fromDate" name="r_fromDate" placeholder="Select from date">
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="date" class="form-control" id="r_toDate" name="r_toDate" placeholder="Select to date">
                    </div>

                    <p>Email.</p>
                    <div class="form-group col-xs-12">
                        <input type="text" class="form-control" id="user_email" name="user_email" placeholder="email">
                    </div>

                    <p>Status</p>
                    <div class="form-group col-xs-12">
                        <div class="checkbox" id="member_status">
                            <label>
                                <input type="checkbox" name="status" id="status1" value="1">
                                Enabled
                            </label>

                            <label style="padding-left: 77px;">
                                <input type="checkbox" name="status" id="status2" value="2">
                                Stopped
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <p>Last Name / First Name</p>

                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group col-xs-6">
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                    </div>
                    <p>Phone</p>
                    <div class="form-group col-xs-12">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="phone">
                    </div>
                </div>

                <div class="col-xs-12" style="margin-top:30px">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-2">
                            <button class="btn  btn-warning" style="width:100%;">Search</button>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn" onclick="ClearSearchBox();" type="button" style="width:100%;background-color:black;color:white">Clear</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function ClearSearchBox() {


            //date field clear
            ClearInputField("r_fromDate");
            ClearInputField("r_toDate");

            ClearInputField("user_email");
            ClearInputField("last_name");

            ClearInputField("first_name");
            ClearInputField("phone");

            //uncheck order type
            ClearCheckbox("member_status", "status");

        }

        function ClearInputField(inputId) {
            $("#" + inputId).val('');
        }

        function ClearCheckbox(groupId, checkId) {
            let index = 1;
            $('#' + groupId).find(':checkbox').each(function () {
                $('#' + (checkId + index)).prop("checked", false);
                index++;
            });
        }
                                            //function ClearDropdown(selectId, optionId) {
                                            //    let index = 1;
                                            //    $('#' + selectId + ' > option').each(function () {
                                            //        $("#" + (optionId + index)).prop("selected", false);
                                            //        index++;
                                            //    });
                                            //    $("#" + (optionId + 0)).prop("selected", true);
                                            //}
    </script>
}