<div class="col-xs-2">
    <div class="left-menu">
        <ul>
            <li><a href="/Orders/Index">Dashboard</a></li>
            <li><a href="/Orders/Search">Orders</a></li>
            <li><a href="/Member/Search">Members</a></li>
        </ul>
    </div>
</div>
